.footer__admin {
    background-color: $color-blue-2;
    padding-bottom: 70px;
    color: $color-white-1;

    

    .nav-link {
        @include styleText(14px, $color-white-1,600);
    }
    .nav-link:hover {
        opacity: 0.75;
    }
    img {
        margin-bottom: 60px;
    }

}