header {
  min-width: 100%;
  background: $color-blue-1;
  box-shadow: 0 2px 4px $color-blue-4;
  position: fixed;
  z-index: 99;

  .navbar {
    .header__logo {
      @include styleText(30px, $color_5, 600);
      transition: all 0.3s;
      &:hover {
        color: $color_6;
      }
    }

    .navbar-nav {
      .nav-item {
        margin-left: 20px;
        .nav-link {
          @include styleText(20px, $color_5, 400);
          transition: all 0.3s;
          &:hover {
            font-weight: 600;
            transform: scale(1.2);
          }
        }
      }
    }
  }

  .shopping-m {
    display: none;
  }

  .shopping {
    position: relative;
    text-align: right;
    cursor: pointer;
    i {
      font-size: 23px;
    }
    span {
      background: red;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color_1;
      position: absolute;
      top: -10px;
      left: 92%;
      width: 1rem;
      height: 1rem;
    }
  }

  @include responsive("small") {
  }
}
