
.products{
  padding: 200px 0;
  width: 100%;
  .products__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  
    .product-content {
      margin-top: 20px;
      border: 2px solid #dfe5e9;
      background: #fff;
      padding: 4px;
      -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
      .carousel-control.left {
        margin-left: 0;
      }
      .product-image {
        background-color: $background-color_1;
        display: block;
        width: 100%;
        height: auto;
        overflow: hidden;
        position: relative;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .product-deatil {
        border-bottom: 1px solid #dfe5e9;
        padding-bottom: 17px;
        // padding-left: 16px;
        padding-top: 16px;
        position: relative;
        background: #fff;
        .name {
          a {
            @include styleText(16px, $color_3, 600);
            line-height: 15px;
            text-decoration: none;
            padding-left: 0;
            margin-left: 0;
            span {
              margin: 10px 0;
              color: $color_2;
              display: block;
              font-size: 13px;
            }
          }
        }
        span.sale {
          background-color: $background-color_2;
        }
        span.discount {
          background-color: $background-color_3;
        }
        span.hot {
          background-color: $background-color_4;
        }
        p.price-container {
          span {
            color: $color_4;
            font-family: $font-family_1;
            font-size: 24px;
            line-height: 20px;
          }
        }
      }
      .description {
        font-size: 16px;
        line-height: 22px;
        padding: 10px 14px 16px 0;
        background: #fff;
      }
      .product-info {
        padding: 11px 19px 10px 0;
        a.add-to-cart {
          color: $color_1;
          font-size: 13px;
        }
      }
      name.a {
        padding: 5px 10px;
        margin-left: 16px;
      }
    }
    .product-info.smart-form {
      .btn {
        padding: 6px 12px;
        margin-top: -10px;
      }
      .rating {
        label {
          margin-top: 0;
        }
      }
    }
    .product-entry {
      .product-deatil {
        border-bottom: 1px solid #dfe5e9;
        padding-bottom: 17px;
        padding-left: 16px;
        padding-top: 16px;
        position: relative;
        h5 {
          a {
            color: $color_1;
            font-size: 15px;
            line-height: 19px;
            text-decoration: none;
            span {
              color: $color_2;
              display: block;
              font-size: 13px;
            }
          }
        }
        p.price-container {
          span {
            color: $color_4;
            font-family: $font-family_1;
            font-size: 24px;
            line-height: 20px;
          }
        }
      }
    }
    .load-more-btn {
      background-color: $background-color_2;
      border-bottom: 2px solid #037ca5;
      border-radius: 2px;
      border-top: 2px solid #0cf;
      margin-top: 20px;
      padding: 9px 0;
      width: 100%;
    }
    .product-block {
      .product-deatil {
        p.price-container {
          span {
            color: $color_4;
            font-family: $font-family_1;
            font-size: 24px;
            line-height: 20px;
          }
        }
      }
    }
    .shipping {
      table {
        tbody {
          tr {
            td {
              p.price-container {
                span {
                  color: $color_4;
                  font-family: $font-family_1;
                  font-size: 24px;
                  line-height: 20px;
                }
              }
            }
          }
        }
      }
    }
    .shopping-items {
      table {
        tbody {
          tr {
            td {
              p.price-container {
                span {
                  color: $color_4;
                  font-family: $font-family_1;
                  font-size: 24px;
                  line-height: 20px;
                }
              }
            }
          }
        }
      }
    }
    .product-wrap {
      .product-image {
        span.tag2 {
          position: absolute;
          top: 10px;
          right: 10px;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          padding: 10px 0;
          color: $color_3;
          font-size: 11px;
          text-align: center;
        }
        span.sale {
          background-color: $background-color_5;
        }
        span.hot {
          background-color: $background-color_6;
        }
      }
    }
    .shop-btn {
      position: relative;
      > span {
        background: #a90329;
        display: inline-block;
        font-size: 10px;
        box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
          inset 0 -1px 0 rgba(0, 0, 0, 0.07);
        font-weight: 700;
        border-radius: 50%;
        padding: 2px 4px 3px !important;
        text-align: center;
        line-height: normal;
        width: 19px;
        top: -7px;
        left: -7px;
      }
    }
    .description-tabs {
      padding: 30px 0 5px !important;
      .tab-content {
        padding: 10px 0;
      }
    }
    .product-deatil {
      // padding: 30px 30px 50px;
      hr + .description-tabs {
        padding: 0 0 5px !important;
      }
      .carousel-control.left {
        background: none !important;
      }
      .carousel-control.right {
        background: none !important;
      }
      .glyphicon {
        color: $color_5;
      }
      .product-image {
        border-right: 0px solid #fff !important;
      }
      .name {
        margin-top: 0;
        margin-bottom: 0;
        small {
          display: block;
        }
        a {
          margin-left: 0;
        }
      }
      .price-container {
        font-size: 24px;
        margin: 0;
        font-weight: 300;
        small {
          font-size: 12px;
        }
      }
      .fa-2x {
        font-size: 16px !important;
        > h5 {
          font-size: 12px;
          margin: 0;
        }
      }
      .fa-2x + a {
        font-size: 13px;
      }
      .fa-2x + a + a {
        font-size: 13px;
      }
      .certified {
        margin-top: 10px;
        ul {
          padding-left: 0;
          li {
            &:not(first-child) {
              margin-left: -3px;
            }
            display: inline-block;
            background-color: $background-color_7;
            padding: 13px 19px;
            &:first-child {
              border-right: none;
            }
            a {
              text-align: left;
              font-size: 12px;
              color: $color_6;
              line-height: 16px;
              text-decoration: none;
              span {
                display: block;
                color: $color_4;
                font-size: 13px;
                font-weight: 700;
                text-align: center;
              }
            }
          }
        }
      }
      .message-text {
        width: calc(100% - 70px);
      }
    }
    @include responsive("1024px") {
      .product-content {
        div[class*="col-md-4"] {
          padding-right: 0;
        }
        div[class*="col-md-8"] {
          padding: 0 13px 0 0;
        }
        .product-image {
          border-right: 1px solid #dfe5e9;
        }
        .product-info {
          position: relative;
        }
      }
      .product-wrap {
        div[class*="col-md-5"] {
          padding-right: 0;
        }
        div[class*="col-md-7"] {
          padding: 0 13px 0 0;
        }
      }
    }
  }
}

