* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: linear-gradient(to left, #8942a8, #ba382f);
}

@media screen and (max-width: 992px) {
  .header .navbar-toggler {
    background: transparent;
    outline: none;
  }
  .header .navbar-toggler i {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 800;
  }
  .header__logo {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 800;
  }
  .header__logo:hover {
    pointer-events: none;
    color: #fff;
  }
  .header .icons .icons__content {
    display: flex;
    align-items: center;
    position: relative;
  }
  .header .icons .icons__content .btn-cart {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    transition: all 0.3s;
    outline: none;
    border: none;
  }
  .header .icons .icons__content .btn-cart:hover {
    transform: scale(1.05);
  }
  .header .icons .icons__content .btn-cart:focus {
    box-shadow: none;
  }
  .header .icons .icons__content .btn-cart .total-qty {
    position: absolute;
    top: 0;
    right: 5rem;
  }
}
.header__logo {
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
}
.header__logo:hover {
  pointer-events: none;
  color: #fff;
}
.header .navbar .nav-item .nav-link {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s;
  margin-left: 25px;
}
.header .navbar .nav-item .nav-link:hover {
  transform: scale(1.15);
}
.header .navbar .icons .icons__content {
  display: flex;
  align-items: center;
  position: relative;
}
.header .navbar .icons .icons__content .btn-cart {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.3s;
  outline: none;
  border: none;
}
.header .navbar .icons .icons__content .btn-cart:hover {
  transform: scale(1.05);
}
.header .navbar .icons .icons__content .btn-cart:focus {
  box-shadow: none;
}
.header .navbar .icons .icons__content .total-qty {
  position: absolute;
  width: 1.3rem;
  height: 1.3rem;
  text-align: center;
  font-size: 0.9rem;
  top: 0;
  right: 2.5rem;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
}
.header .navbar .icons .icons__content .icons__link {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.3s;
  margin-left: 25px;
}
.header .navbar .icons .icons__content .icons__link i {
  transition: all 0.3s;
}
.header .navbar .icons .icons__content .icons__link i:hover {
  transform: scale(1.15);
}

.manager {
  padding: 180px 0 120px;
}
.manager #searchProduct {
  margin: 10px 0 5px;
}
.manager #hoverSearch:hover {
  background-color: #e9edf0;
  color: #6ca3f2;
}
.manager .text-primary th:nth-child(2) {
  width: 170px;
}
.manager .text-primary th:nth-child(3) {
  width: 115px;
}
.manager .text-primary th:nth-child(3) i {
  padding: 0 3px 0;
}
.manager .text-primary th:nth-child(3) i:hover {
  color: #08315c;
}
.manager .text-primary th:nth-child(5) {
  width: 180px;
}

#myModal .sp-thongbao {
  color: red;
  margin-left: 2px;
  display: none;
}

.header__admin {
  width: 100%;
  background: #f5f9fe;
  box-shadow: 0 2px 4px #e2ebfc;
  position: fixed;
  z-index: 99;
}
.header__admin__logo {
  color: #2a73dd;
  font-size: 30px;
  font-weight: 700;
}
.header__admin .navbar-nav .nav-item.active .nav-link {
  color: #2a73dd;
}
.header__admin .navbar-nav .nav-item.active .nav-link::after {
  transform: scaleX(1);
}
.header__admin .navbar-nav .nav-link {
  color: #1d365e;
  font-size: 20px;
  font-weight: 400;
  padding: 10px 20px;
  position: relative;
  transition: all 0.3s;
}
.header__admin .navbar-nav .nav-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #2a73dd;
  transform: scaleX(0);
  transition: all 0.3s;
}
.header__admin .navbar-nav .nav-link:hover {
  color: #2a73dd;
}
.header__admin .navbar-nav .nav-link:hover::after {
  transform: scaleX(1);
}

.footer__admin {
  background-color: #2a73dd;
  padding-bottom: 70px;
  color: #fff;
}
.footer__admin .nav-link {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.footer__admin .nav-link:hover {
  opacity: 0.75;
}
.footer__admin img {
  margin-bottom: 60px;
}/*# sourceMappingURL=main.css.map */