$color_1: #fff;
$color_2: #E8BC0E;
$color_3: #2f383d;
$color_4: #9aa7af;
$color_5: #21c2f8;
$color_6: #3276b1;
$color_7: #6d7a83;
$background-color_1: #DCE0E1;
$background-color_2: #1C1F25;
$background-color_3: #453E3B;
$background-color_4: #E8BC0E;
$background-color_5: #fff5;
$background-color_6: #fff;
$background-color_7: #21c2f8;
$background-color_8: #71e134;
$background-color_9: #fa9442;
$background-color_10: #57889c;
$background-color_11: #a90329;
$background-color_12: #f9f9f9;

$font-family_1: Lato, sans-serif;

// Breakpoint
$breakpoint: (
  "small": 576px,
  "medium": 768px,
  "large": 992px,
  "extra-large": 1200px,
);
